<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments.html :: header">

    <title id="pageTitle"></title>

</head>



<body>

<!-- Navigation -->
<nav    th:insert="fragments.html :: navigation"
        class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">



                <div class="form-group" th:object="${post}">
                    <input type="hidden" th:field="*{postId}"/>

                    <h1 class="mt-4" th:text="*{title}"></h1>

                    <hr>


                    <p class="lead" th:text="*{content}"></p>
                    <hr>

                    <p>
                    <span th:each="tag: *{tags}">
                        <a th:text="'#' + ${tag.name}"
                           th:href="@{/tag/{tagName}(tagName=${tag.name})}"></a>
                    </span>
                    </p>
                </div>

            <form method="POST" th:action="@{/comment/create}" sec:authorize="hasRole('USER')">
                <div class="card my-4">
                    <input type="hidden" th:field="*{post.postId}"/>
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <textarea name="content" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </form>


            <div th:each="comment: ${post.comments}" class="media mb-4">
                <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""> -->
                <div class="media-body">
                    <h5 class="mt-0"><span th:text="${comment.user.username}"/></h5>
                    <span th:text="${comment.content}"/>
                </div>
            </div>



        </div>

        <!-- Sidebar Widgets Column -->
        <div th:insert="fragments.html :: widget" class="col-md-4">
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>
